<!-- <div class="form-container">
  <h2>Configuração da Consulta</h2>

<form (ngSubmit)="onSubmit()" #formRef="ngForm">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Falange do Dia</mat-label>
        <mat-select [(ngModel)]="falange" name="falange" required>
            <mat-option *ngFor="let f of falanges" [value]="f">{{ f }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Duração da Consulta (min)</mat-label>
        <input matInput type="number" [(ngModel)]="duracao" name="duracao" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Limite por Médium</mat-label>
        <input matInput type="number" [(ngModel)]="limite" name="limite" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!formRef.valid">
        Salvar Configuração
    </button>
</form>
</div> -->
