<div class="form-container">
    <h2>Configuração da Consulta</h2>
    <div class="container">
        <div class="col">
            <form (ngSubmit)="onSubmit()" #formRef="ngForm">
                <div class="row">
                    <mat-form-field class="guia">
                        <mat-label>Falange do Dia</mat-label>
                        <mat-select [(ngModel)]="falange" name="falange" required>
                            <mat-option *ngFor="let f of falanges" [value]="f">{{ f }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill" class="time">
                        <mat-label>Duração da Consulta (min)</mat-label>
                        <input matInput type="number" [(ngModel)]="duracao" name="duracao" required />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="fill" class="quantidade">
                        <mat-label>Limite por Médium</mat-label>
                        <input matInput type="number" [(ngModel)]="limite" name="limite" required />
                    </mat-form-field>
                </div>
                <button mat-raised-button type="submit" [disabled]="!formRef.valid">
                    Salvar Configuração
                </button>
            </form>
        </div>
    </div>