.container {
  display: block;
  flex-direction: column;
  background-color: rgb(201, 246, 201);
  align-self: self-start;
  width: 100%;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.logo img {
  width: 100%;
  margin-bottom: 1rem;
}

.menu ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      display: block;
      padding: 0.5rem;
      border-radius: 4px;

      &:hover {
        background-color: #dcce0b;
      }
    }
  }
}

.logout {
  margin-top: auto;
  width: 100%;
  button {
    width: 100%;
  }
}
