<div class="container">
  <div class="row">

    <div class="col-md-4">
      <ul class="list">
        <li class="list-item">
          <a href routerLink="/" class="link">Login</a>
        </li>
        <li class="list-item">
          <a href routerLink="/config" class="link">Setup</a>
        </li>
        <li class="list-item">
          <a href routerLink="/checkin" class="link">Checkin</a>
        </li>
      </ul>
    </div>

    <div class="col-md-8">
      <router-outlet />
    </div>

  </div>
</div>