<mat-card class="container">
  <h2>Cadastro de Médium</h2>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="nome" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Núcleo</mat-label>
        <mat-select [(ngModel)]="nucleo" name="nucleos">
         <mat-option *ngFor="let n of nucleos" [value]="n">{{ getNucleoLabel(n) }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Fita</mat-label>
        <mat-select [(ngModel)]="fita" name="fita">
         <mat-option *ngFor="let f of fitas" [value]="f">{{ getFitaLabel(f) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <div *ngFor="let fal of falanges">
        <mat-form-field class="full-width">
          <mat-label>{{ fal }}</mat-label>
          <input matInput [(ngModel)]="falangeGuiaMap[fal]" placeholder="Nome do guia" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <button class="bt-add" mat-raised-button color="primary" (click)="adicionar()" [disabled]="!isFormValid()">Salvar</button>
</mat-card>
