.container {
  padding: 30px;
  border: 2px solid #ccc;
  margin-top: 20px;
  border-radius: 20px;
  height: 90vh;
  display: flex;


  .col-md-4{
    margin: 20px 0;
    width: 50%;
  }

  .bt-add{
    margin-top: 20px;
    background-color: blue;
    color: white;
  }

}
  mat-label {
    font-size: 14px;
    margin: 20px 5 5px;
    
  }
