.tempo-box {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f1f1f1;

  &.amarelo {
    background-color: #fff3cd;
    color: #856404;
  }

  &.vermelho {
    background-color: #f8d7da;
    color: #721c24;
  }
}
