.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f5;
}




  button{
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    flex-direction: column;
  }

  ng-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .col-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  mat-radio-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #000;
    margin: 10px;
    mat-radio-button{
      margin: 2px;
      color: #000;
      font-style: Bold;
      .value{
        color: primary;
        ;
      }
        
    }
  }